body{
    margin: auto;
}
/* Header Start */
header{
    height: 60px;
    background-color: coral;
}
#icon{
    float: left;
}
#social{
    float: right;
}
.slogo{
    height: 50px;
    width: 50px;
}
a{
    text-decoration: none;
}
/* Search Start */
#search{
    height: 400px;
    
    background-color: rgb(37, 134, 89);
}
/* Quicksearch Start */
#Quicksearch{
    height: 40px;
    border:15px line rgb(15, 8, 1);
    background-color: forestgreen;
}
/* Footer Start */
footer{
    height: 800px;
    border: 10px groove black;
    background-color: black; 
}